<div class="container-fluid">
   <div class="row">
     <h2 class="text-center" style="text-align: center;">{{vehicle}} Booking System</h2>
   </div>
   <br>
   <br>
   <div class="row">
     <div class="col-lg-6">
      <h6 class="text-primary text-center"><b>Train Name: {{ trainName }}</b></h6>
      <h6 class="text-warning text-center" style="margin-right:155px;"><b>Avail Ticket: {{ availTicket }}</b></h6>

     </div>
     <div class="col-lg-6">
      <button type="button" class="btn btn-success" (click)="bookTicket()">Book Ticket</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-danger" (click)="cancelTicket()">Cancel Ticket</button>
     </div>
   </div>
</div>
